<!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star-light" />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>
                    I am a Game Design and Development graduate from Macquarie
                    University, with a passion for animation, and a deep
                    interest in game design. I love playing video games since I
                    was 7 years old, playing on almost all platforms, even
                    recently getting into Virtual Reality!
                </p>
            </div>
            <div class="col-lg-4">
                <p>
                    I love experimenting with different types of animation in
                    games, from Frame Animation to 3D, and constantly learning
                    new game animation techniques. I am proficient in C# and the
                    Unity game engine. I have also worked on various game
                    projects throughout my degree, from a stickman platformer
                    game, to an energetic VR experience for neuroscience and
                    psychology. <br />
                    I also run a gaming YouTube channel ranging from gameplay
                    videos to reviews, although I'm planning to start producing
                    video essays of game design in the future.
                </p>
            </div>
            <!-- <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div> -->
        </div>
    </div>
</section>
